@media(max-width:1300px){
    /* body{
        background-color: black;
    }
    .Card{
        background-color: white;
    } */
    .medialeft{
        display: none;
    }
    .medianavbar{
        display: none;
    }
    .mediamenu2{
        display: block!important;
    }
    .mediamenu1{
        display: block!important;
    }
    /* .Card{
        margin-left: 5px;
    } */
    .carus{
       margin-left: 0px;
    }
}
@media(min-width:1300px){
 .Card{
     margin-left: 20%;
 }
}
